/* general */

:root {
    --prcMain: #C07021;
    --prcSub: #1F01B9;
    --prcBG: #D7D7D7;
}

body {
    margin: 0;
    background: var(--prcBG);
}

/* navbar */
#navigation {
    width: 100vw;
    display: flex;
    background-color: var(--prcBG);
    border: black 2px solid;

}

#logos h1, h2{
    margin: 0px;
    padding: .1em .1em 0 .1em;
}

#bigP {
    font-size: 3em;
    margin-right: -3%;
    padding-bottom: 0;
}

.serif {
    font-family: 'Sorts Mill Goudy', serif;
}

.sans {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: var(--prcMain);
;
}
h2 {
    color: var(--prcSub);
}

ul{
    margin-left: auto;
    margin-right: 2em ;
    list-style: none;
    display: inline-flex;
    position: relative;
    top: 10px;
}

li {
    padding: .5em;
}

/* splash */

#backgroundContainer{
    width: 100vw;
    height: 80vh;
    position: absolute;
    z-index: -1;
}

#backgroundHome {
    width: 100vw;
    height: 85vh;
    opacity: .4;
    background-image: url('../img/houseex.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-bottom: 2px solid black;
}

@keyframes animated-border {
    0% {
        box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255,255,255,0);
    }
}

#topCard{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    padding: 2.5em;
    text-align: center;


    border-width:4px 30px 4px 30px;
    border-style: solid;
    border-color: var(--prcSub) var(--prcSub) var(--prcMain) var(--prcMain);
    border-radius:0 120px 0 120px;
    -moz-border-radius:0 120px 0 120px;
    -webkit-border-radius:0 120px 0 120px;

    background-color: var(--prcBG);
    background-origin: border-box;

    animation: animated-border 1.5s infinite;

    transition: border 2000ms ease-out;
}


#topCard:hover {
    border-color: var(--prcMain) var(--prcMain) var(--prcSub) var(--prcSub);
}
#splashBullet {
    border-radius: 0px 100px 100px 0px;
    border: 2px solid;
    border-color:  var(--prcMain);

    width: 300px;
    height: 100px;

    position: fixed;
    top: 15%;


    background-color: var(--prcBG);

    transition: border 500ms ease-out;
}

#splashBullet:hover {
    border-color: var(--prcSub);
}

#splashBulletTxt {
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    position: absolute;
}