:root {
    --prcMain: #C07021;
    --prcSub: #1F01B9;
    --prcBG: #D7D7D7;
}

body {
    margin: 0;
}
#navigation {
    width: 100vw;
    display: flex;
    background-color: var(--prcBG);
    border: black 4px solid;

}

#logos h1, h2{
    margin: 0px;
    padding: .1em .1em 0 .1em;
}

#bigP {
    font-size: 3em;
    margin-right: -3%;
    padding-bottom: 0;
}

.goudy {
    font-family: 'Sorts Mill Goudy', serif;
}

.sans {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    color: var(--prcMain);
;
}
h2 {
    color: var(--prcSub);
}

ul{
    margin-left: auto;
    margin-right: 2em ;
    list-style: none;
    display: inline-flex;
    position: relative;
    top: 10px;
}

li {
    padding: .5em;
}

