<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>prc of texas</title>
</head>
<body>
<div class="mx-auto box-border bg-gray-200 border-b border-black w-screen text-center">
        <h2 class="text-lg text-blue-700">prime resource construction of texas</h2>
        <div class="text-gray-900">currently under construction</div>
        <div class="text-orange-800">[pardon our dust]</div>
</div>


</body>
</html>