<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header :: headerFragment (pageTitle='PRC')">

</head>
<body>

<navbar th:replace="partials/navbar :: navbar"></navbar>

<div id="splashBullet" class="serif">

</div>

<div id="backgroundContainer">

    <div id="sideNavCont">
        <ul id="sideNavUL">
            <a class="sideNavAnchors" href="#roofing">
                <li id="roofingLink" class="serif sideAnchors">Roofing</li>
            </a>
            <a class="sideNavAnchors" href="#repair">
                <li id="repairLink" class="serif sideAnchors">Repair</li>
            </a>
            <a class="sideNavAnchors" href="#painting">
                <li id="paintingLink" class="serif sideAnchors">Painting</li>
            </a>
        </ul>
    </div>

    <div id="backgroundHome"></div>
    <div id="topCard" class="serif">
        Other Exploitation of the Work or Derivative Works shall not apply to this License and the following conditions:
        Redistributions of source code must retain and reproduce in all copies and that contains any part of the
        Licensor, except as specifically set forth herein, no assurances are provided by the Copyright Holder of the
        Licensor and subsequently incorporated within the Work. This license does not create potential liability for
        damages, including direct, indirect, special, incidental and consequential damages, such as lost profits; and
        states that source code for the Current Maintainer nor by other people, then you do at least three years, to
        give everyone the right to modify a component of this test package and to permit persons to whom You file such
        an event, the Recipient shall have no further obligations under this Agreement are offered by you and linked
        into this Package to be unenforceable, that provision of this document. Copyright Law of Japan and other
        intellectual property claims: (a) under intellectual property laws of the Work, and as such within the Work
        accessible by file transfer protocols such as lost profits; iii) states that source code or executable form
        under this License Agreement.
    </div>

</div>

<div id="bottomcardContainer">

    <div id="splashcard1" class="trinityCard">
        <div class="cardIMG" id="roofing"></div>
        <p id="roofingP">An example of the first card's possible text.</p>
    </div>
    <div id="splashcard2" class="trinityCard">
        <div class="cardIMG" id="repair"></div>
        <p id="repairP">An example of the second card's possible text.</p>
    </div>
    <div id="splashcard3" class="trinityCard">
        <div class="cardIMG" id="painting"></div>
        <p id="paintingP">An example of the third card's possible text.</p>
    </div>

</div>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>

<script>

    // click system > side anchor box > fade appropriate card
    $("#roofingLink").click(function () {
        $("#splashcard1").fadeTo("slow", 1);
        $("#splashcard1").toggleClass("clickChange");
        $("#splashcard2, #splashcard3").fadeTo("slow", 0.5);
        $("#roofingP").html("Check it out, it changed the roofing card.")
    })
    $("#repairLink").click(function () {
        $("#splashcard2").fadeTo("slow", 1);
        $("#splashcard2").toggleClass("clickChange");
        $("#splashcard1, #splashcard3").fadeTo("slow", 0.5);
        $("#repairP").html("Check it out, it changed the repair card.")
    })
    $("#paintingLink").click(function () {
        $("#splashcard3").fadeTo("slow", 1);
        $("#splashcard3").toggleClass("clickChange");
        $("#splashcard1, #splashcard2").fadeTo("slow", 0.5);
        $("#paintingP").html("Check it out, it changed the painting card.")
    })

    // // hover system - jquery ||wave wand|| magiccccc

    $("#splashcard1").hover(function () {
            $("#splashcard1").stop().fadeTo("slow", 1);
            $("#splashcard2").stop().fadeTo("slow", 0.5);
            $("#splashcard3").stop().fadeTo("slow", 0.5);
        },

        function () {
            $("#splashcard2").stop().fadeTo("slow", 1);
            $("#splashcard3").stop().fadeTo("slow", 1);
        }
    )

    $("#splashcard2").hover(function () {
            $("#splashcard2").stop().fadeTo("slow", 1);
            $("#splashcard1").stop().fadeTo("slow", 0.5);
            $("#splashcard3").stop().fadeTo("slow", 0.5);
        },


        function () {
            $("#splashcard1").stop().fadeTo("slow", 1);
            $("#splashcard3").stop().fadeTo("slow", 1);

        }
    );


    $("#splashcard3").hover(
        function () {
            $("#splashcard3").stop().fadeTo("slow", 1);
            $("#splashcard1").stop().fadeTo("slow", 0.5);
            $("#splashcard2").stop().fadeTo("slow", 0.5)
        },

        function () {
            $("#splashcard1").stop().fadeTo("slow", 1);
            $("#splashcard2").stop().fadeTo("slow", 1);
        }
    )

    $(function() {
        $('#aboutUs').hover(function() {
            $('#pop').toggle();
        });
    });
</script>
</body>
</html>